<div class="pQuestion">
  <p><%= @question %></p>
  <em>- You</em>
</div>
<div class="pAnswer">
  <p><%= @answer %></p>
  <em>- Your coach</em>
</div>

<hr>
<%= link_to "Ask another question", ask_path %>
